.blog-one {
  background-image: url("../../img/blog/blog-banner.jpg");
  background-color: #E7F3FF !important;
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15rem 0rem 16.5rem;
  color: #fff; }

.blog-updates {
  padding: 100px 0; }
  .blog-updates .blog-content p {
    margin-bottom: 20px;
    color: #202020; }

.disclamier {
  padding-top: 0.8rem;
  display: block;
  width: 100%; }
  .disclamier .privacy-p {
    padding-left: 26px; }

.subscribe-form {
  box-shadow: 0px 0px 12px rgba(9, 10, 12, 0.1);
  border-radius: 8px;
  position: relative;
  padding: 30px; }
  .subscribe-form h4 {
    color: #3A404E; }
  .subscribe-form p {
    font-weight: 300;
    color: #3A404E;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 14px; }
  .subscribe-form .form-control {
    border: 1px solid #CACEFF;
    color: #0065CD; }
    .subscribe-form .form-control:focus {
      outline: none;
      box-shadow: none; }
  .subscribe-form .btn-primary {
    background-color: #0065CD; }
  .subscribe-form .input-group .form-control {
    border-left: 0 !important; }
  .subscribe-form .input-group .dropdown-toggle::after {
    border-top: .3em solid #0065CD; }
  .subscribe-form .btn-outline-secondary:not(:disabled):not(.disabled):active, .subscribe-form .show > .btn-outline-secondary.dropdown-toggle {
    background-color: transparent;
    border-color: none; }
  .subscribe-form .dropdown-toggle {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-right-color: transparent; }
    .subscribe-form .dropdown-toggle:hover {
      background: transparent; }
    .subscribe-form .dropdown-toggle:focus {
      outline: none;
      box-shadow: none; }
  .subscribe-form ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #0065CD; }
  .subscribe-form :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #0065CD;
    opacity: 1; }
  .subscribe-form ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #0065CD;
    opacity: 1; }
  .subscribe-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #0065CD; }
  .subscribe-form ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #0065CD; }
  .subscribe-form ::placeholder {
    /* Most modern browsers support this now. */
    color: #0065CD; }

/*# sourceMappingURL=blog.css.map */
