.tech-updates {
  padding: 5rem 0rem 5rem; }
  .tech-updates h2 {
    text-align: center; }
    .tech-updates h2:after {
      content: "";
      height: 5px;
      width: 120px;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(90deg, #0072f5 37.93%, rgba(196, 196, 196, 0) 96.55%);
      border-radius: 6px;
      z-index: 1; }
  .tech-updates a {
    text-decoration: none; }
  .tech-updates .btn-link {
    font-weight: 500; }

.tech-updatescard {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  border: none;
  padding: 0;
  color: #000;
  margin-bottom: 10px;
  box-shadow: 0px 0px 12px rgba(9, 10, 12, 0.1);
  /* Smartphones (portrait and landscape) ----------- */ }
  .tech-updatescard .contents {
    padding: 20px 15px; }
    .tech-updatescard .contents h3 {
      margin: 0;
      margin-bottom: 15px;
      color: #3A404C;
      word-wrap: break-word;
      line-height: 1.3;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      font-size: 18px; }
    .tech-updatescard .contents span {
      color: #3A404C;
      font-weight: 300; }
  .tech-updatescard img {
    height: 200px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .tech-updatescard {
      /* Styles */ }
      .tech-updatescard .card {
        flex-direction: column; }
        .tech-updatescard .card h3 {
          margin-top: 15px; }
        .tech-updatescard .card img {
          width: 100%;
          margin-right: 0; } }

/*# sourceMappingURL=techupdates.css.map */
