@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
.navbar-light .navbar-nav .nav-link {
  color: #202020; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #0078F4; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #0078F4; }

.home-one {
  background-color: #E7F3FF !important;
  background-position: center left;
  background-repeat: no-repeat;
  padding: 10rem 0rem 11.5rem;
  position: relative; }
  .home-one .banner-bg {
    position: absolute;
    left: 0;
    top: 18%;
    width: 11%;
    z-index: 0; }
  .home-one .wrapper h2 {
    font-weight: 600;
    font-size: 1.9rem;
    letter-spacing: 1px;
    padding-bottom: 0;
    line-height: 1.6; }
  .home-one .wrapper p {
    padding: 0.8rem 0rem 2rem;
    font-size: 1.3rem;
    font-weight: 300; }
  .home-one .wrapper span {
    position: absolute;
    margin-left: 5px;
    display: flex;
    align-items: center;
    z-index: 1;
    top: 16px;
    left: 10px; }
  .home-one .wrapper .form-control {
    box-shadow: 0px 0px 12px rgba(9, 10, 12, 0.1);
    padding-left: 40px !important;
    z-index: 0;
    border-radius: 24px;
    padding: 12px; }

.newsletter {
  background-color: #E7F3FF !important;
  padding: 10rem 0rem 11.5rem; }
  .newsletter h2 {
    font-weight: 600;
    font-size: 1.9rem;
    letter-spacing: 1px;
    padding-bottom: 0;
    line-height: 1.6; }
  .newsletter p {
    padding: 0.8rem 0rem 2rem;
    font-size: 1.3rem;
    font-weight: 300; }
  .newsletter .form-holder {
    padding-top: 50px; }
    .newsletter .form-holder .form-control {
      border-radius: 4px;
      padding: 10px;
      border-color: transparent;
      box-shadow: 0px 0px 12px rgba(9, 10, 12, 0.1);
      padding-left: 25px;
      border-radius: 8px;
      font-style: italic;
      font-style: 14px; }
    .newsletter .form-holder .btn {
      padding: 10px; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        .newsletter .form-holder .btn {
          margin-top: 10px; } }

.tech-updates {
  padding: 5rem 0rem 5rem; }
  .tech-updates h2 {
    text-align: center; }
    .tech-updates h2:after {
      content: "";
      height: 5px;
      width: 120px;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(90deg, #0072f5 37.93%, rgba(196, 196, 196, 0) 96.55%);
      border-radius: 6px;
      z-index: 1; }
  .tech-updates a {
    text-decoration: none; }
  .tech-updates .btn-link {
    font-weight: 500; }

.tech-updatescard {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  border: none;
  padding: 0;
  color: #000;
  margin-bottom: 10px;
  box-shadow: 0px 0px 12px rgba(9, 10, 12, 0.1);
  /* Smartphones (portrait and landscape) ----------- */ }
  .tech-updatescard .contents {
    padding: 20px 15px; }
    .tech-updatescard .contents h3 {
      margin: 0;
      margin-bottom: 15px;
      color: #3A404C;
      word-wrap: break-word;
      line-height: 1.3;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      font-size: 18px; }
    .tech-updatescard .contents span {
      color: #3A404C;
      font-weight: 300; }
  .tech-updatescard img {
    height: 200px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .tech-updatescard {
      /* Styles */ }
      .tech-updatescard .card {
        flex-direction: column; }
        .tech-updatescard .card h3 {
          margin-top: 15px; }
        .tech-updatescard .card img {
          width: 100%;
          margin-right: 0; } }

.footer .second-row {
  margin-top: 50px; }
.footer h6 {
  color: #393F4B;
  margin-bottom: 10px !important; }
.footer .list-group {
  max-width: 200px;
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
  margin-left: 0; }
  .footer .list-group li {
    padding-bottom: 0.8rem; }
    .footer .list-group li a {
      color: #3A404E; }
.footer .sub-footer {
  padding: 18px 0 18px 0;
  margin: 0;
  align-items: center;
  border-top: 1px solid #e6e5e5; }
.footer .copyright-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center; }
.footer .social-icons {
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
  margin-top: 0.5rem; }
  .footer .social-icons li {
    display: inline;
    padding-right: 10px; }
    .footer .social-icons li a i {
      width: 35px;
      height: 35px;
      font-size: .875rem;
      line-height: 35px;
      background-color: #fff;
      border: 1px solid #b3b3b3;
      border-radius: 50%;
      color: #b3b3b3;
      transition: background-color 250ms, border 250ms;
      font-size: 18px;
      text-align: center; }
    .footer .social-icons li a:hover i {
      color: #fff; }
    .footer .social-icons li a:hover .fa-facebook {
      background-color: #3c5a96;
      border-color: #3c5a96; }
    .footer .social-icons li a:hover .fa-twitter {
      background-color: #59adeb;
      border-color: #59adeb; }
    .footer .social-icons li a:hover .fa-youtube {
      background-color: #de3236;
      border-color: #de3236; }
    .footer .social-icons li a:hover .fa-instagram {
      background-color: #e1306c;
      border-color: #e1306c; }
    .footer .social-icons li a:hover .fa-linkedin {
      background-color: #007bb6;
      border-color: #007bb6; }
.footer .lang {
  padding-left: 0;
  max-width: 100%;
  margin-top: 0.5rem; }
  .footer .lang li {
    list-style-type: none;
    padding-right: 1.5rem;
    text-align: center;
    width: 125px;
    display: inline-block; }
    .footer .lang li p {
      font-size: 13px;
      margin: 0;
      color: #3a414e; }
    .footer .lang li img {
      height: 30px; }
.footer .form-wrapper {
  width: 100%;
  max-width: 520px; }
  .footer .form-wrapper .email-only-signup {
    position: relative;
    display: inline-block;
    width: 100%; }
    .footer .form-wrapper .email-only-signup .email-form,
    .footer .form-wrapper .email-only-signup button {
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle;
      padding: 9px 9px 9px 12px;
      height: 45px;
      outline: 0;
      margin-right: -15px; }
    .footer .form-wrapper .email-only-signup .cmn-btn {
      padding: 0.9rem 1.4rem;
      font-size: 0.8rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      background-color: #0072f5;
      border-color: #0072f5;
      border: 0;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #fff; }
    .footer .form-wrapper .email-only-signup .form-control {
      font-style: italic;
      font-size: 14px; }
  .footer .form-wrapper .disclamier {
    padding-top: 0.8rem;
    display: block;
    width: 100%;
    float: left; }
    .footer .form-wrapper .disclamier .privacy-p {
      padding-left: 26px; }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer .copyright-footer {
    flex-direction: column; } }

.blog-one {
  background-image: url("../../img/blog/blog-banner.jpg");
  background-color: #E7F3FF !important;
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15rem 0rem 16.5rem;
  color: #fff; }

.blog-updates {
  padding: 100px 0; }
  .blog-updates .blog-content p {
    margin-bottom: 20px;
    color: #202020; }

.disclamier {
  padding-top: 0.8rem;
  display: block;
  width: 100%; }
  .disclamier .privacy-p {
    padding-left: 26px; }

.subscribe-form {
  box-shadow: 0px 0px 12px rgba(9, 10, 12, 0.1);
  border-radius: 8px;
  position: relative;
  padding: 30px; }
  .subscribe-form h4 {
    color: #3A404E; }
  .subscribe-form p {
    font-weight: 300;
    color: #3A404E;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 14px; }
  .subscribe-form .form-control {
    border: 1px solid #CACEFF;
    color: #0065CD; }
    .subscribe-form .form-control:focus {
      outline: none;
      box-shadow: none; }
  .subscribe-form .btn-primary {
    background-color: #0065CD; }
  .subscribe-form .input-group .form-control {
    border-left: 0 !important; }
  .subscribe-form .input-group .dropdown-toggle::after {
    border-top: .3em solid #0065CD; }
  .subscribe-form .btn-outline-secondary:not(:disabled):not(.disabled):active, .subscribe-form .show > .btn-outline-secondary.dropdown-toggle {
    background-color: transparent;
    border-color: none; }
  .subscribe-form .dropdown-toggle {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-right-color: transparent; }
    .subscribe-form .dropdown-toggle:hover {
      background: transparent; }
    .subscribe-form .dropdown-toggle:focus {
      outline: none;
      box-shadow: none; }
  .subscribe-form ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #0065CD; }
  .subscribe-form :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #0065CD;
    opacity: 1; }
  .subscribe-form ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #0065CD;
    opacity: 1; }
  .subscribe-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #0065CD; }
  .subscribe-form ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #0065CD; }
  .subscribe-form ::placeholder {
    /* Most modern browsers support this now. */
    color: #0065CD; }

.stories h2 {
  text-align: center;
  text-transform: capitalize; }
  .stories h2:after {
    content: "";
    height: 5px;
    width: 120px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #0072f5 37.93%, rgba(196, 196, 196, 0) 96.55%);
    border-radius: 6px;
    z-index: 1; }
.stories .carousel {
  padding: 0 50px;
  margin-top: 75px; }
  .stories .carousel .card h4 {
    color: #3A404C;
    word-wrap: break-word;
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 18px; }
  .stories .carousel .card .date {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 93px;
    margin-bottom: 20px;
    color: #979797;
    font: normal normal normal 16px/1.97 Poppins, sans-serif; }
  .stories .carousel .card a {
    color: #2083F6; }
  .stories .carousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23979797' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }
  .stories .carousel .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23979797' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }
  .stories .carousel .carousel-control-next {
    right: -100px; }
  .stories .carousel .carousel-control-prev {
    left: -100px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .stories .carousel .card {
      margin-bottom: 15px; }
    .stories .carousel .carousel-control-next {
      right: 0; }
    .stories .carousel .carousel-control-prev {
      left: 0; } }

body {
  font-family: 'Poppins', sans-serif; }

/*# sourceMappingURL=main.css.map */




.detailed-blog  .tech-updatescard{
  flex-direction: column;
  box-shadow: none;
  margin-top: 0 !important;
}
.detailed-blog  .tech-updatescard img{
  width: 100%;
  height: auto;
  
}

.detailed-blog  .tech-updatescard h1{
 color: #000;
 text-transform: capitalize;
  
}
.detailed-blog  .tech-updatescard h2 a{
  color: #000;
  text-transform: capitalize;
   
 }