.blog-one {
    background-image: url('../../img/blog/blog-banner.jpg');
    background-color: #E7F3FF !important;
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15rem 0rem 16.5rem;
    color: #fff;
}

.blog-updates {
    padding: 100px 0;

    .blog-content {
        p {
            margin-bottom: 20px;
            color: #202020;
        }
    }


}


.disclamier {
    padding-top: 0.8rem;
    display: block;
    width: 100%;
    // float: left;

    .privacy-p {
        padding-left: 26px;
    }
}


.subscribe-form {
    box-shadow: 0px 0px 12px rgba(9, 10, 12, 10%);
    border-radius: 8px;
    position: relative;
    padding: 30px;

    h4 {
        color: #3A404E;
    }

    p {
        font-weight: 300;
        color: #3A404E;
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .form-control {
        border: 1px solid #CACEFF;
        color: #0065CD;
        &:focus{
            outline: none;
            box-shadow: none;
        }

        
    }
    .btn-primary{
        background-color: #0065CD;
    }

    .input-group {
        .form-control {
            border-left: 0 !important;
        }
        .dropdown-toggle::after{
            border-top: .3em solid #0065CD;
        }
    }

    .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle{
        background-color: transparent;
        border-color: none;
    }

    .dropdown-toggle {
        border: 1px solid rgba(0, 0, 0, .15);
        border-right-color: transparent;

        &:hover {
            background: transparent;
        }
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }

    ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #0065CD;
    }

    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #0065CD;
        opacity: 1;
    }

    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #0065CD;
        opacity: 1;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #0065CD;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #0065CD;
    }

    ::placeholder {
        /* Most modern browsers support this now. */
        color: #0065CD;
    }
}